/*CSS para estilização de progressbar*/
#nprogress .bar {
    background: rgb(255, 17, 34);
}

/* Fancy blur effect */
#nprogress .peg {
    box-shadow: 0 0 10px rgba(176, 127, 121, 0.8), 0 0 5px rgba(176, 10, 8, 0.8);
}

#nprogress .spinner-icon {
    border-top-color: rgb(255, 17, 34);
    border-left-color: rgb(255, 17, 34);
}

/*Removendo spinner*/
#nprogress .spinner-icon {
    display: none;
}